<header class="ch-navbar">
  <div class="ch-container">
    <a href="/" class="ch-navbar__logo">
      <img src="/static/demo-logo.svg" alt="Arnold Clark Department Demos" />
    </a>
    <a href="/sign-up" class="ch-btn ch-btn--success ch-mb--2 ch-width--12 sm:ch-pull--right sm:ch-width--auto sm:ch-mt--2 sm:ch-mb--0">I want to demo</a>
  </div>
</header>