<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "head.njk" %}
    {% if site.env %}
      <!-- capture the CSS content as a Liquid variable -->
      {% set css %}{% include "styles.min.css" %}{% endset %}
      <style>
        {{ css | safe }}
      </style>
    {% else %}
    <link rel="stylesheet" href="/static/styles.min.css">
    {% endif %}
    <link rel="stylesheet" href="/static/chassis.css">
    <link rel="stylesheet" href="/static/chassis-ui.css">
		<!-- Gotham -->
    <link rel="stylesheet" type="text/css" href="https://cloud.typography.com/7457892/640704/css/fonts.css" />
  </head>
  <body>
    {% include "navbar.njk" %}
    {{ content | safe }}
  </body>
  <script src="/static/app.min.js" defer></script>
</html>
