---
layout: base.njk
---
<div class="ch-container ch-mt--4">
  <h1 class="ch-mb--4">Demo schedule</h1>
  <h2>Digitial demo = {{ demos.digitalDemoDate }}</h2>
  <h2>Marketing demo = {{ demos.marketingDemoDate }}</h2>
  <div id="department-demos"></div>
</div>