---
layout: base.njk
---
<div class="ch-container ch-mt--4">
  <h1 class="ch-mb--4">Thank you</h1>

  <p class="ch-fs--3 ch-mb--4">Thank you for signing up for a demo.</p>

  <a href="/" class="ch-btn ch-btn--success">Back to demo list</a>
</div>